<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
</head>
<body>
	<h3> Informacion de ordenes</h3>
	
	
		<table border="1">
			<tr>
				<th>Id</th>
				<th>Fecha de compra</th>
				<th># de orden</th>
				<th>Monto</th>
				
				
				
			</tr>
			<tr th:each="ItemOrders : ${session.orders}">
				<td th:text="${ItemOrders.orders.id}"> </td>
				</tr>
			
		
		</table>
		

	<br/>
		<a th:href="${'/product'}"> Continue comprando</a>
		<a th:href="${'/cart/checkout'}"> Verificar</a>
		

</body>
</html>